<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-card  text-center>
        <ion-card-header>
          <ion-card-title>Pune</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <b>C-DAC</b><br/>
            C-DAC Innovation Park,<br/>
            Panchavati, Pashan,<br/>
            Pune - 411 008<br/>
            Phone: +91-20-25503100,<br/>
            Fax: +91-20-25503131
        </ion-card-content>


        <ion-card-content>
            <b>C-DAC ACTS</b><br/>
            C-DAC Innovation Park,<br/>
            Panchavati, Pashan,<br/>
            Pune - 411 008<br/>
            Phone: +91-20-25503100,<br/>
            Fax: +91-20-25503131
        </ion-card-content>
      </ion-card>


      <ion-card class="ion-padding" text-center>
          <ion-card-header>
            <ion-card-title>NABARD</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
              <b>NABARD</b><br/>
              54, Wellesley Road,<br/>
              Opposite Govt College Of Engineering,<br/>
              Baluchi Vasti, Shivajinagar, <br/>
              Pune, Maharashtra 411005,<br/>
              Phone: 096300 75190
          </ion-card-content>
        </ion-card>
</ion-content>
<ion-footer>
    <ion-toolbar>
      <ion-title><b>@2019 www.nabard.com all right reserved</b></ion-title>
    </ion-toolbar>
  </ion-footer>