<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>

    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-card  text-center>
        <ion-card-header>
          <ion-card-title>Pune</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <b>NABARD</b><br/>
            The importance of institutional credit in boosting rural economy has been clear to the Government of India right from its early stages of planning. Therefore, the Reserve Bank of India (RBI) at the insistence of the Government of India, constituted a Committee to Review the Arrangements For Institutional Credit for Agriculture and Rural Development (CRAFICARD) to look into these very critical aspects. The Committee was formed on 30 March 1979, under the Chairmanship of Shri B. Sivaraman, former member of Planning Commission, Government of India.  
            The Committee’s interim report, submitted on 28 November 1979, outlined the need for a new organisational device for providing undivided attention, forceful direction and pointed focus to credit related issues linked with rural development. Its recommendation was formation of a unique development financial institution which would address these aspirations and formation of National Bank for Agriculture and Rural Development (NABARD) was approved by the Parliament through Act 61 of 1981.
            NABARD came into existence on 12 July 1982 by transferring the agricultural credit functions of RBI and refinance functions of the then Agricultural Refinance and Development Corporation (ARDC). It was dedicated to the service of the nation by the late Prime Minister Smt. Indira Gandhi on 05 November 1982. Set up with an initial capital of Rs.100 crore, its’ paid up capital stood at Rs.10,580 crore as on 31 March 2018. Consequent to the revision in the composition of share capital between Government of India and RBI, NABARD today is fully owned by Government of India. 
            
        </ion-card-content>
      </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title><b>@2019 www.nabard.com all right reserved</b></ion-title>
  </ion-toolbar>
</ion-footer>