// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


ion-menu{
    ion-item,
    ion-list, .list-md,

    //Menu Side Bar Color :Blackish  :-1
    // ion-content{
    //     --background: var(--dark-color);
    //     --ion-background-color: var(--dark-color);
    // }

    ion-item{
        color: var(--text-color);
    }
    ion-icon{
        color: #21a3ee;
    }
}

.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
    //Back Ground Color :-2
    //background: var(--dark-color);

    padding: 2em 0;
    min-height: 100px;
    .logo-section__wrapper{
        text-align: center;
        .logo-section__logo{
            display: block;
            width: 150px;
            height: 100px;
            border-radius: 100%;
        }
        .logo-section__title{
            font-size: 1.5rem;
            font-weight: normal;
            color: var(--text-color);
        }
    }
}

.menuOtherlbl{
    color: #ffff;
}
.dvloginErrMsg{
    color: #FF0000;
}

.loginRadioGrCls{
    margin-left:20%;
}

.menuCardbgcolor{
    // background:#E0E0E0;
    background:#ffff;
}
.menuviewicon{
    font-size:350%;
}
.viewicon{
    font-size:350%;
}

